<form id="search-form">
  <input id="search-input" type="text" placeholder="search" />
</form>

<main id="main-search">

  <div class="movie-container">
    <img src="/public/images/profile-icon-png-899.png" alt="" />
    <h3>movie title</h3>
    <span class="green">9</span>

    <div class="overview">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
        expedita vero, quod soluta, assumenda itaque corrupti culpa eum dolore
        illo corporis deserunt explicabo? Quia expedita, dolorem alias sunt
        eligendi molestiae!</p>
    </div>
  </div>

  <div class="movie-container">
    <img src="/public/images/profile-icon-png-899.png" alt="" />
    <h3>movie title</h3>
    <span class="green">9</span>

    <div class="overview">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
        expedita vero, quod soluta, assumenda itaque corrupti culpa eum dolore
        illo corporis deserunt explicabo? Quia expedita, dolorem alias sunt
        eligendi molestiae!</p>
    </div>
  </div>

  <div class="movie-container">
    <img src="/public/images/profile-icon-png-899.png" alt="" />
    <h3>movie title</h3>
    <span class="green">9</span>

    <div class="overview">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
        expedita vero, quod soluta, assumenda itaque corrupti culpa eum dolore
        illo corporis deserunt explicabo? Quia expedita, dolorem alias sunt
        eligendi molestiae!</p>
    </div>
  </div>
</main>